In [1]:
import pandas as pd
from sqlalchemy import create_engine
import mysql.connector
from sqlalchemy.exc import ResourceClosedError,IntegrityError

In [2]:
host="localhost",
user="root",
password="root",
database="airline"
port=3306

In [3]:
engine = create_engine('mysql+pymysql://root:root@localhost:3306/airline')
conn = engine.connect()

In [4]:
mydb = mysql.connector.connect(host="localhost",user="root",password="root",database="airline")
mycursor = mydb.cursor()

In [5]:
def search_flights():
    from_ = input('From :')
    to_ = input('To : ')
    date_ = input('Date : ')
    exists = False
    df = pd.read_sql_query(f'call FlightSearch("{from_}","{to_}","{date_}")',engine)
    if df.empty:
        print('There is no Fights ')
    else:
        display(df)
        exists = True
        return {'df':df,'exists':exists}

def book_flights():
    print('Login Required. Press 3')

def flight_booking(flight_name,flight_code):
    fname = input('Enter First Name: ')
    mname = input('Enter middle Name: ')
    lname = input('Enter last Name: ')
    mob = input('Enter phone number: ')
    mail = input('Enter email number: ')
    passport = input('Enter passport:')
    country = input('Enter country code: ')
#     flight_name = input('Enter flight name: ')
#     flight_code = int(input('Enter flight code: '))
    try:
        mycursor.callproc("flightbooking", [fname,mname,lname,mob,mail,passport,country,flight_name,flight_code])
        mydb.commit()
        value = pd.read_sql_query(f'call FlightBooking1({flight_code})',engine)
        display(value)
    except mysql.connector.IntegrityError:
        print("Don't Insert Duplicate Value.")

    
    
    
def login():
    flag = True
    print('Login')
    username = input('Enter email : ')
    password = input('Enter Password :')
    print('\n')
    df = pd.read_sql_query(f'select * from register where email="{username}" and password="{password}"',engine)
    if df.empty:
        print("There is no username exists. Please Enter Valid Username and Password.")
    else:
        while flag:
            print('\n')
            print('Press 1: Book Flight')
            print('Press 2: View Bookings')
            print('Press 3: Check Flight Status')
            print('Press 4: Cancel Booking')
            print('Press 5: LOGOUT')
            choose = int(input('Please Enter Number.... : '))

            if choose == 1:
                value = search_flights()
                if value['exists']:
                    row = int(input('Please Enter the Row Number : '))
                    flight_name = str(value['df'].iloc[row][1])
                    flight_code = int(value['df'].iloc[row][0])
                    flight_booking(flight_name,flight_code)
            elif choose == 2:
                check_booking()
            elif choose == 3:
                CheckFlightStatus()
            elif choose == 4:
                pass
            elif choose == 5:
                flag = False
            else:
                print('Please Enter valid number which are mentioned as options.')
            

def register():
    print('\n')
    print('Register')
    flag = True
    while flag:
        name = input('Enter Your Name :')
        email = input('Enter Your Email : ')
        password = input('Enter Password :')
        confirm = input('Enter Password Again :')
        if password == confirm:
            try:
                pd.read_sql_query(f'insert into register values("{name}","{email}","{password}")',engine)
                flag = False
            except ResourceClosedError:
                login()
                flag = False
            except IntegrityError:
                print('Username already Exits. Try with another username and email.')
                continue
        else:
            print("Please enter Password Correctly")

def CheckFlightStatus():
    number = int(input('Enter Flight No. : '))
    df = pd.read_sql_query(f'call CheckFlightStatus("{number}")',engine)
    if df.empty:
        print("There is no flight on this number.")
    else:
        display(df)

def check_booking():
    pid = int(input("Enter your ID : "))
    df = pd.read_sql_query(f'call checkbooking({pid});',engine)
    if df.empty:
        print('There is no result found.')
    else:
        display(df)

In [ ]:
def main():
    flag = True
    while flag:
        print('Flight Booking systems')
        print('\n')
        print('Press 1 : Search Flights')
        print('Press 2 : Book Flights')
        print('Press 3 : Login')
        print('Press 4 : Register')
        print('Press 0 : Exit')
        
        choose = int(input('Press Key'))
        
        if choose == 1:
            search_flights()
            print('\n')
        elif choose == 2:
            book_flights()
            print('\n')
        elif choose == 3:
            login()
            print('\n')
        elif choose == 4:
            register()
            print('\n')
        elif choose == 0:
            print('Thank You')
            flag = False
            break

main()

Flight Booking systems


Press 1 : Search Flights
Press 2 : Book Flights
Press 3 : Login
Press 4 : Register
Press 0 : Exit
Press Key3
Login
Enter email : pankaj
Enter Password :123




Press 1: Book Flight
Press 2: View Bookings
Press 3: Check Flight Status
Press 4: Cancel Booking
Press 5: LOGOUT
Please Enter Number.... : 1
From :CCU
To : BHM
Date : 2022-09-10

,flight_call,Flight_Name,From_,To_,Dep_Time,Arr_Time,Price,Class
0,3762,Air India,CCU,BHM,2022-09-10 01:56:47,2022-09-11 15:34:38,6788.54,Economy
1,3763,Air Asia,CCU,BHM,2022-09-10 01:56:47,2022-09-11 15:34:38,45758.51,Economy

Please Enter the Row Number : 0
Enter First Name: Pankaj
Enter middle Name: Kumar
Enter last Name: Bhoi
Enter phone number: 741852963
Enter email number: pankaj
Enter passport:741852963
Enter country code: IN

,Name,From_,To_,Dept_Time_,Arr_Time,Flight_name,class,Bstatus
0,Pankaj Bhoi,CCU,BHM,2022-09-10 01:56:47,2022-09-11 15:34:38,Air India,Economy,Confirmed

Press 1: Book Flight
Press 2: View Bookings
Press 3: Check Flight Status
Press 4: Cancel Booking
Press 5: LOGOUT

In [ ]:
def 
print('Please enter following details: ')

fname = input('Enter First Name: ')
mname = input('Enter middle Name: ')
lname = input('Enter last Name: ')
mob = input('Enter phone number: ')
mail = input('Enter email number: ')
passport = input('Enter passport:')
country = input('Enter country code: ')

try:
    mycursor.callproc("flightbooking", [fname,mname,lname,mob,mail,passport,country,flight_name,flight_code])
    mydb.commit()
    value = pd.read_sql_query(f'call FlightBooking1({flight_id})',engine)
    display(value)
except mysql.connector.IntegrityError:
    print("Don't Insert Duplicate Value.")

In [19]:
def flight_booking():
    
    print('Please enter following details: ')

    fname = 'Pankaj'
    mname = 'Ku'
    lname = 'Bhoi'
    mob = '45896321'
    mail = 'pk@gmail.com'
    passport = '58963254'
    country = 'IN'
    flight_name = 'Air India'
    flight_code = 3763
    pd.read_sql_query(f"call flightbooking ('{fname}','{mname}','{lname}','{mob}','{mail}','{passport}','{country}','{flight_name}',{flight_code});",engine)
    
    print('Booking Confirmed!')
#     try:
#         value = pd.read_sql_query(f'call flightbooking("{fname}","{mname}","{lname}","{mob}","{mail}","{passport}","{country}","{flight_name}",{int(flight_code)});')
#         print(value)
#         print('Booking Confirmed!')
#     except Error:
#         print('****** Booking Failed ******')

flight_booking()

Please enter following details:

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [ ]:
def flight_booking():
        print('Please enter following details: ')

        fname = input('Enter First Name: ')
        mname = input('Enter middle Name: ')
        lname = input('Enter last Name: ')
        mob = input('Enter phone number: ')
        mail = input('Enter email number: ')
        passport = input('Enter passport:')
        country = input('Enter country code: ')
        flight_name = input('Enter flight name: ')
        flight_code = int(input('Enter flight code: '))

        try:
            engine.execute(f"call flightbooking ('{fname}','{mname}','{lname}','{mob}','{mail}','{passport}','{country}','{flight_name}',{flight_code});")
            print('Booking Confirmed!')
        except:
            print('****** Booking Failed ******')

In [9]:
df = pd.read_sql_query(f'call FlightSearch("CCU","BHM","2022-09-10")',engine)
df

,flight_call,Flight_Name,From_,To_,Dep_Time,Arr_Time,Price,Class
0,3762,Air India,CCU,BHM,2022-09-10 01:56:47,2022-09-11 15:34:38,6788.54,Economy
1,3763,Air Asia,CCU,BHM,2022-09-10 01:56:47,2022-09-11 15:34:38,45758.51,Economy